#extend("Admin/Table"):
    #export("title", "Authors")
    #export("toolbar-buttons", "")

    #export("th"):
        <tr>
            <th><a href="#sortQuery("image")">Image #sortIndicator("image")</a></th>
            <th><a href="#sortQuery("name")">Name #sortIndicator("name")</a></th>
            <th class="actions">Actions</th>
        </tr>
    #endexport

    #export("tb"):
        #for(item in items):
            <tr>
                <td class="small center profile"><a href="#path()#(item.id)/"><img src="#resolve(item.imageKey)" alt="#(item.name)"></a></td>
                <td><a href="#path()#(item.id)">#(item.name)</a></td>
                #extend("Admin/Actions"):#endextend
            </tr>
        #endfor
    #endexport
#endextend
