#define(body):
<div id="not-found" class="wrapper w:s m-l">
    
    <section class="center m:vh:l">
        <span class="h1">🗑</span>
        <h1>#(delete.title ?? "Confirm deletion")</h1>
        <p class="m:bottom">You are about to permanently delete the `#(delete.context ?? "current")` #(delete.type ?? "object").</p>
        <form action="#($req.url.path)" method="POST">
            <input type="hidden" name="formId" value="#(delete.id ?? "")">
            <input type="hidden" name="formToken" value="#(delete.token ?? "")">

            <input type="submit" class="button m:bottom w256 block wrapper" value="#(delete.confirm ?? "Delete")" />
            
            <a class="" href="#Request(query: "redirect")">#(delete.cancel ?? "Cancel")</a>
        </form>
    </section>
</div>
#enddefine
#inline("Admin/Index")
