#define(toolbarCenter):
    Dashboard
#enddefine
#define(body):

<div id="dashboard" class="wrapper w:full m:xl">

    <header class="m:bottom:l center">
        <p>Welcome <b>#($user.email)</b>, this is your admin dashboard. Please select an option:</p>
    </header>

    <div class="g3 g:gap:l center">
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg("book", class: "block w64")</span>
            <h3>Blog</h3>
            <ul class="lst:none p:zero">
                <li><a href="/admin/blog/posts/">Posts</a></li>
                <li><a href="/admin/blog/categories/">Categories</a></li>
                <li><a href="/admin/blog/authors/">Authors</a></li>
            </ul>
        </div>
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg("file-text", class: "block w64")</span>
            <h3>Static</h3>
            <ul class="lst:none p:zero">
                <li><a href="/admin/static/pages/">Pages</a></li>
            </ul>
        </div>
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg("arrow-right", class: "block w64")</span>
            <h3>Redirect</h3>
            <ul class="lst:none p:zero">
                <li><a href="/admin/redirect/redirects/">Redirects</a></li>
            </ul>
        </div>
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg("layout", class: "block w64")</span>
            <h3>Frontend</h3>
            <ul class="lst:none p:zero">
                <li><a href="/admin/frontend/metadatas/">Metadatas</a></li>
            </ul>
        </div>
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg("settings", class: "block w64")</span>
            <h3>System</h3>
            <ul class="lst:none p:zero">
                <li><a href="/admin/system/variables/">Variables</a></li>
            </ul>
        </div>
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg("user", class: "block w64")</span>
            <h3>User</h3>
            <ul class="lst:none p:zero">
                <li><a href="/admin/user/users/">Users</a></li>
            </ul>
        </div>
        
    </div>
</div>

#enddefine
#inline("Admin/Index")
