#define(toolbarCenter):
    Dashboard
#enddefine
#define(body):

<div id="dashboard" class="wrapper w:full m:xl">

    <header class="m:bottom:l center">
        <p>Welcome <b>#($user.email)</b>, this is your admin dashboard. Please select an option:</p>
    </header>

    <div class="g3 g:gap:l center">
        #let(menus = HookAll("admin-menu"))
        #for(menu in menus):
        <div class="g:col1 bg2 p:l br:s border1">
            <span>#svg(menu.icon, class: "block w64")</span>
            <h3>#(menu.name)</h3>
            <ul class="lst:none p:zero">
            #for(item in menu.items):
                <li><a href="#(item.url)">#(item.label)</a></li>
            #endfor
            </ul>
        </div>
        #endfor        
    </div>
</div>

#enddefine
#inline("Admin/Index")
