<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>#evaluate(toolbarCenter ?? "") - #($vars["site.title"]) &middot; CMS</title>

    #if($app.isDebug):
    <link rel="stylesheet" href="/css/frontend.css">
    <link rel="stylesheet" href="/css/frontend.light.css">
    <link rel="stylesheet" href="/css/frontend.dark.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/admin.light.css">
    <link rel="stylesheet" href="/css/admin.dark.css">
    #else:
    <link rel="stylesheet" href="/css/frontend.min.css">
    <link rel="stylesheet" href="/css/admin.min.css">
    #endif

    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
        
    <style>
        #evaluate(css ?? "")
    </style>
</head>

<body class="m:zero">
    

    <header id="header">
        <input type="checkbox" id="menu-button" class="noselect" />
        <label for="menu-button" id="menu-icon" class="noselect"><span></span></label>

        <nav id="nav">
            <li><a href="/admin/">Admin</a></li>
            #evaluate(breadcrumb ?? "")
        </nav>

          <a id="site-link" href="/">
              <img src="/images/logo-text.png" alt="Logo of #($vars["site.title"])" title="#($vars["site.title"])">
          </a>

          <a id="account" href="/logout/">#svg("log-out")</a>
    </header>

    <div id="toolbar" class="g3">
        <div id="left" class="g:col1">
            <div class="container">
                #evaluate(toolbarLeft ?? "")
            </div>
        </div>
        <div id="center" class="g:col1 center">
            <div class="container">
                <h3 class="m:s">#evaluate(toolbarCenter ?? "")</h3>
            </div>
        </div>
        <div id="right" class="g:col1">
            <div class="container">
                #evaluate(toolbarRight ?? "")
            </div>
            
        </div>
    </div>

    <main>
        #body()
    </main>

    <script src="/javascript/admin.js"></script>
</body>
</html>
