#(let pages = list.info ?? nil)
#if(pages.total > 1 && pages.current < pages.total + 1):
<hr>
<section class="wrapper center">
    #if(pages.current > 1):
    <span><a href="#Request(setQuery: ["page": 1])" class="text-link">#svg("chevrons-left")</a></span>
    #else:
    <span>#svg("chevrons-left")</span>
    #endif

    #if(pages.current > 1):
    <span><a href="#Request(setQuery: ["page": pages.current - 1])" class="text-link">#svg("chevron-left")</a></span>
    #else:
    <span>#svg("chevron-left")</span>
    #endif

    <span class="info">Page #(pages.current) of #(pages.total)</span>

    #if(pages.current < pages.total):
    <span><a href="#Request(setQuery: ["page": pages.current + 1])" class="text-link">#svg("chevron-right")</a></span>
    #else:
    <span>#svg("chevron-right")</span>
    #endif

    #if(pages.current < pages.total):
    <span><a href="#Request(setQuery: ["page": pages.total])" class="text-link">#svg("chevrons-right")</a></span>
    #else:
    <span>#svg("chevrons-right")</span>
    #endif
</section>
#endif
