#define(toolbarCenter):
    #(title)
#enddefine
#define(toolbarLeft):
    <a href="#($req.url.path)new/">#svg("plus-circle")</a>
#enddefine
#define(body):

<div class="wrapper w:full m:l">
    <form id="search-form" action="#($req.url.path)" method="get" class="m:bottom">
        #if(Request(query: "sort") != nil):
        <input type="hidden" id="sort" name="sort" value="#Request(query: "sort")">
        #endif
        #if(Request(query: "order") != nil):
        <input type="hidden" id="order" name="order" value="#Request(query: "order")">
        #endif
        <input type="text" id="search" name="search" placeholder="Search..." value="#Request(query: "search")">
    </form>
</div>

#if(list.items.isEmpty()):
    #inline("Admin/Empty")
#else:
<div class="wrapper w:full m:l">
    <table>
        <thead>
            <tr>
                #th()
            </tr>
        </thead>
        <tbody>
            #tr()
        </tbody>
    </table>
</div>
<div class="wrapper w:full m:l">
    <div id="pagination">
    #inline("Admin/Pagination")
    </div>
</div>
#endif
#enddefine
#inline("Admin/Index")
