**/.git
**/.DS_Store
**/.build
**/.swiftpm
**/.vscode
**/node_modules
**/.docker-cache
**/.idea
**/.swift-openapi-generator
**/.agents
**/.codex
.git
.DS_Store
.build
.swiftpm
.vscode
node_modules
.docker-cache
.idea
.swift-openapi-generator
.agents
.codex
