Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.development
.env.testing
Public/assets
Resources/Views/*
Resources/config.json
Public/css/frontend.min.css
./feather
docker/docker-feather-data
