#extend("Frontend/Index"):
    #export("body"):
<style>
    </style>
       <div id="login-box">
           <h2>Login</h2>
           <p>Sign in with your existing account</p>

           <form action="#path()?redirect=admin" method="post">
                <section>
                    <label for="email">Email</label>
                    <input type="email" name="email" value="#(body.edit.email.value)" placeholder="hello@mydomain.com">
                    #if(body.edit.email.error != nil):
                    <span class="error">#(body.edit.email.error)</span>
                    #endif
                </section>

                <section>
                    <label for="password">Password</label>
                    <input type="password" name="password" value="#(body.edit.password.value)">
                    #if(body.edit.password.error != nil):
                    <span class="error">#(body.edit.password.error)</span>
                    #endif
                </section>

                <section>
                    <input type="submit" class="button" value="Sign in" />
                </section>

                #if(body.edit.notification != nil):
                <p id="notification"><span class="error">#(body.edit.notification)</span></p>
                #endif
            </form>

<!--            <a href="/">Forget your password?</a>-->
       </div>
    #endexport
#endextend
