<div class="card tag">
    {{#image}}<img src="{{image}}" alt="{{title}}">{{/image}}
    <h2><a href="{{permalink}}">{{title}}</a></h2>
    {{#postCountLabel}}<p>{{.}}</p>{{/postCountLabel}}
    {{^postCountLabel}}<p>{{description}}</p>{{/postCountLabel}}
</div>
