#let(head = [
    "title": $system["authors.page.title"],
    "description": $system["authors.page.description"],
    "css": metadata.css,
    "js": metadata.js
])
#define(body):
<div id="posts" class="m">

    <header class="t:center m:b:xl">
        <h1 class="m:t">#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <div class="g1 g:gap:col g:gap:row:xl">
        #for(author in authors):
            <div class="g:col1 t:center">
                <a href="/#(author.metadata.slug)">
                    <img class="s128 r:circular" src="#(author.imageKey.resolve())">
                </a>
                <h3 class="m:t"><a href="/#(author.metadata.slug)">#(author.name)</a></h3>
                <p>#(author.bio)</p>
            </div>
        #endfor
    </div>
</div>
#enddefine
#inline("Frontend/Index")
