#let(head = [
    "title": category.title,
    "description": category.excerpt,
    "css": metadata.css,
    "js": metadata.js
])

#define(body):
<div id="posts" class="m">
    <header class="t:center m:b:xl">
        <img class="s128 r:xs" src="#(category.imageKey.resolve())">
        <h1 class="m:t">#(head.title)</h1>
        <p>#(head.description)</p>
        <span><strong>#(posts.count()) post#if(posts.count() > 1):s#endif</strong></span>
            </header>

    <div class="g321 g:gap:col g:gap:row:xl">
        #for(post in posts):
        #var(size = 1)
        #inline("Blog/Frontend/SinglePost")
        #endfor
    </div>
</div>

#enddefine
#inline("Frontend/Index")
