#let(head = [
    "title": $system["categories.page.title"],
    "description": $system["categories.page.description"],
    "css": metadata.css,
    "js": metadata.js
])
#define(body):
<div id="posts" class="m">
    <header class="t:center m:b:xl">
        <h1 class="m:t">#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <div class="g1 g:gap:col g:gap:row:xl">
        #for(category in categories):
        <div class="g:col1 t:center">
            <a href="/#(category.metadata.slug)">
                <img class="s128 r:xs" src="#(category.imageKey.resolve())">
            </a>
            <h3 class="m:t"><a href="/#(category.metadata.slug)">#(category.title)</a></h3>
            <p>#(category.excerpt)</p>
        </div>
        #endfor
    </div>
</div>
#enddefine
#inline("Frontend/Index")

