#let(head = [
    "title": $system["home.page.title"],
    "description": $system["home.page.description"],
    "css": metadata.css,
    "js": metadata.js

])
#define(css):

#enddefine
#define(body):
<div id="home" class="m">
    <header class="t:center m:b:xl">
        <h1 class="m:t">#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <div class="g321 g:gap:col g:gap:row:xl">
    #for((index, post) in posts):
        #var(size = 1)
        #var(class = "post-cell-" + index + 1)
        #if(index < 2):
            #var(size = 1)
        #endif
        
        #inline("Blog/Frontend/SinglePost")
    #endfor
    </div>
</div>
#enddefine
#inline("Frontend/Index")
