#dashboard svg {
    color: #fa3ebe;
}
#toolbar {
    background: #fff;
    border-bottom: 1px solid #efefef;
}
.inactive-link {
    color: #ccc;
}
thead tr {
    background: #efefef;
}
tr {
    background: #fff;
    border: 1px solid #e9e9e9;
}
fieldset {
    border: 2px solid #efefef;
}
legend {
    color: #666;
}
#placeholder {
    color: #ccc;
}
#analytics-overview svg {
    color: #fa3ebe;
}
#analytics-overview .bar-chart {
    background: #21a9ff;
    background: -webkit-linear-gradient(to right, #12c2e9, #21a9ff);
    background: linear-gradient(to right, #12c2e9, #21a9ff);
    border-radius: 4px;
    margin-bottom: 16px;
    text-shadow: none;
    color: #000;
}
