@media (prefers-color-scheme: dark) {
    #dashboard svg {
        color: #fa3ebe;
    }
    #toolbar {
        background: #1c1c1e;
        border-bottom: 1px solid #2c2c2e;
    }
    .inactive-link {
        color: #222;
    }
    .th {
        background: #232323;
    }
    .tr {
        background: #1c1c1e;
    }
    .th, .tr {
        border: 1px solid #222;
    }
}

