@media (prefers-color-scheme: dark) {
    #dashboard svg {
        color: #fa3ebe;
    }
    #toolbar {
        background: #1c1c1e;
        border-bottom: 1px solid #2c2c2e;
    }
    .inactive-link {
        color: #222;
    }
    thead tr {
        background: #232323;
    }
    tr {
        background: #1c1c1e;
        border: 1px solid #222;
    }
    fieldset {
        border: 2px solid #222;
    }
    legend {
        color: #999;
    }
    #placeholder {
        color: #000;
    }
    #analytics-overview svg {
        color: #21a9ff;
    }
    #analytics-overview .bar-chart {
        background: #f80759;
        background: -webkit-linear-gradient(to right, #f80759, #fa3ebe);
        background: linear-gradient(to right, #f80759, #fa3ebe);
        border-radius: 4px;
        margin-bottom: 16px;
        text-shadow: none;
        color: #fff;
    }

}

