#dashboard svg {
    color: #fa3ebe;
}
#toolbar {
    background: #fff;
    border-bottom: 1px solid #efefef;
}
.inactive-link {
    color: #ccc;
}
.th {
    background: #efefef;
}
.tr {
    background: #fff;
}
.th, .tr {
    border: 1px solid #e9e9e9;
}


