.uploader {
    text-align: center;
}
.uploader img {
    display: block;
    width: 100%;
    height: auto;
}
.small-uploader img {
    width: 10rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
}
.circular-uploader img {
    width: 10rem;
    border-radius: 50%;
    margin: 1rem auto;
}
.large-uploader img {
    border-radius: 0.5rem;
}
#notification {
    position: fixed;
    top: 92px;
    right: 16px;
    padding: 16px 32px;
    background: rgba(0,0,0,0.8);
    border-radius: 4px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    transition: opacity 1s;
}
#notification.fade {
    opacity: 0;
}

#toolbar button {
    padding: 0;
    background: none;
    display: inline;
}
#toolbar a svg, #toolbar button svg {
    border-radius: 0.5em;
    padding: 0.5rem 1rem;
}
#toolbar {
    margin: 1rem 0rem;
    margin-bottom: 2rem;
}
#toolbar #left {
    margin-left: 0.5rem;
}
#toolbar #left a, #toolbar #left button {
    margin-right: 0.5rem;
}
#toolbar #right a, #toolbar #right button {
    margin-left: 0.5rem;
}

@media (max-width: 599px) {
    #toolbar {
        grid-template-columns: 1fr 1fr;
        margin: 0;
        margin-bottom: 1rem;
    }
    #toolbar #left {
        order: 2;
    }
    #toolbar #center {
        grid-column: span 2;
        order: 1;
        text-align: left;
        margin: 1rem 0.5rem;
    }
    #toolbar #right {
        order: 3;
    }
}

#toolbar a svg, #toolbar button svg {
    background: #fff;
    color: #21a9ff;
}
#toolbar a:hover svg, #toolbar button:hover svg {
    background: #efefef;
    color: #fa3ebe;
}
@media (prefers-color-scheme: dark) {
    #toolbar a svg, #toolbar button svg {
        background: #0c0c0c;
    }
    #toolbar a:hover svg, #toolbar button:hover svg {
        background: #333;
    }
}
