svg {
    margin: 0 auto;
}

.th, .tr {
    display: grid;
    align-items: center;
}
.th {
    background: #efefef;
}
.tr {
    background: #fff;
}
.th, .tr {
    grid-template-columns: 1fr;
}
.th {
    padding: 4px 0px;
}
.th, .tr {
    border: 1px solid #efefef;
    border-radius: 4px;
}
.tr {
    margin: 8px 0px;
    padding: 16px;
}
.td {
    padding: 8px 0px;
}
.td img {
    display: block;
    margin: 0 auto;
}
.td\:left, .td\:center { text-align: center; }

@media (min-width: 600px) {
    .td\:left { text-align: left; }
    .td\:center { text-align: center; }
    .tr {
        border: none;
        padding: 0;
    }
}



#header {
    border-bottom: none;
}
#header #nav {
    float: left;
    padding-left: 8px;
}
#header #nav a:link, #header #nav a:visited {
    color: #21a9ff;
}
#header #nav a:link:hover, #header #nav a:visited:hover, #header #nav a:link.selected:hover {
    color: #fa3ebe;
}
#header #menu-icon {
    float: left;
}
#site-link {
    position: absolute;
    left: 50%;
    margin-left: -80px;
}
#header #nav li {
    padding-left: 0;
    padding-right: 0;
    margin-left: 8px;
}
#account {
    position: absolute;
    top: 20px;
    right: 14px;
}

#toolbar a {
    display: inline-block;
    padding: 8px 16px;
}

#toolbar #right .container {
    float: right;
}

@media (max-width: 599px) {
    #toolbar .center {
        text-align: left;
        padding-left: 8px;
    }
    #toolbar {
        grid-template-columns: 1fr 1fr;
    }
    #toolbar .g\:col1:nth-of-type(1) {
        order: 2;
    }
    #toolbar .g\:col1:nth-of-type(2) {
        grid-column: span 2;
        order: 1;
    }
    #toolbar .g\:col1:nth-of-type(3) {
        order: 3;
    }
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-spacing: 8px;
}
tbody, tr, th, td {
    display: block;
}
th[data-title]:before, td[data-title]:before {
    content: attr(data-title) ":\00A0";
}
th {
    background: #444;
    background: #efefef;
    border-radius: 8px;
    padding: 1em;
}
th, th a:link, th a:visited {
    text-shadow: none;
/*    color: #cafe00;*/
    margin-bottom: 4px;
/*    text-align: left;*/
}
tr {
    margin-bottom: 1em;
}
tr .center {
    text-align: center;
}
td {
    padding: 0.8em 1em;
    background: #333;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
}
td img {
    border-radius: 4px;
}
tr:last-child td {
    border-bottom: none;
}
td.actions {
    text-align: center;
}
td.image-large {
    line-height: 0;
}
td.image-large img {
    width: 100%;
}
td.profile {
    line-height: 0;
}
td.profile img {
    margin: 1em 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.text-link {
    padding: 4px 16px;
    transition: 0.2s;
}
.pager {
    padding: 8px;
    font-size: 0.8em;
}



.image-uploader {
    text-align: center;
}
.image-uploader img {
    width: 100%;
    border-radius: 8px;
    max-height: 450px;
}
.image-uploader a {
    font-size: 0.8em;
    padding: 4px;
}
.square-image-uploader label, .rounded-image-uploader label {
    display: block;
    text-align: center;
}
.square-image-uploader img, .rounded-image-uploader img {
    width: 100%;
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
}
.rounded-image-uploader img {
    border-radius: 50%;
    margin: 1em auto;
}
@media (min-width: 600px) {
    tbody {
        display: table-header-group;
    }
    tr {
        display: table-row;
        margin-bottom: 0;
    }
    th, td {
        display: table-cell;
    }
    tr .small {
        width: 96px;
    }
    th[data-title]:before, td[data-title]:before {
        content: "";
    }
    td.image-large {
        width: 128px;
    }
    td.actions {
        width: 160px;
    }
}
#notification {
    position: fixed;
    top: 92px;
    right: 16px;
    padding: 16px 32px;
    background: rgba(0,0,0,0.8);
    border-radius: 4px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    transition: opacity 1s;
}
#notification.fade {
    opacity: 0;
}

@media (max-width: 599px) {
    
}
@media (min-width: 600px) {
    
}

@media (min-width: 900px) {
    #header #nav li {
        margin-left: 0px;
    }
    #header #nav li + li:before {
        content: "//";
    }
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1800px) {

}
