svg {
    margin: 0 auto;
}
/* table related changes, tables should always should be displayed using grid layout */
table, thead, tbody, tfoot, tr, th, td {
    display: block;
    margin: 0;
    padding: 0;
}
tr {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
tr {
    border-radius: 4px;
    margin: 8px 0px;
    padding: 16px;
}
th {
    padding: 4px 0px;
}
td {
    padding: 8px 0px;
}
td img {
    display: block;
    margin: 0 auto;
}
/* table alignments, on mobile everything is centered, otherwise use the proper alignment */
.t\:left, .t\:center, .t\:right { text-align: center; }
@media (min-width: 600px) {
    .t\:left { text-align: left; }
    .t\:center { text-align: center; }
    .t\:right { text-align: right; }
}
/* file uploaders */
.uploader {
    text-align: center;
}
.uploader img {
    display: block;
    width: 100%;
    height: auto;
}
.small-uploader img {
    width: 256px;
    border-radius: 8px;
    margin: 16px auto;
}
.circular-uploader img {
    width: 256px;
    border-radius: 50%;
    margin: 16px auto;
}
.large-uploader img {
    border-radius: 8px;
}


#header {
    border-bottom: none;
}
#header #nav {
    float: left;
    padding-left: 8px;
}
#header #nav a:link, #header #nav a:visited {
    color: #21a9ff;
}
#header #nav a:link:hover, #header #nav a:visited:hover, #header #nav a:link.selected:hover {
    color: #fa3ebe;
}
#header #menu-icon {
    float: left;
}
#site-link {
    position: absolute;
    left: 50%;
    margin-left: -80px;
}
#header #nav li {
    padding-left: 0;
    padding-right: 0;
    margin-left: 8px;
}

#account {
    position: absolute;
    top: 20px;
    right: 14px;
}
#toolbar a {
    display: inline-block;
    padding: 8px 16px;
}
#toolbar #right .container {
    float: right;
}
@media (max-width: 599px) {
    #toolbar .center {
        text-align: left;
        padding-left: 8px;
    }
    #toolbar {
        grid-template-columns: 1fr 1fr;
    }
    #toolbar .g\:col1:nth-of-type(1) {
        order: 2;
    }
    #toolbar .g\:col1:nth-of-type(2) {
        grid-column: span 2;
        order: 1;
    }
    #toolbar .g\:col1:nth-of-type(3) {
        order: 3;
    }
}

#notification {
    position: fixed;
    top: 92px;
    right: 16px;
    padding: 16px 32px;
    background: rgba(0,0,0,0.8);
    border-radius: 4px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    transition: opacity 1s;
}
#notification.fade {
    opacity: 0;
}

@media (max-width: 599px) {
    
}
@media (min-width: 600px) {
    
}

@media (min-width: 900px) {
    #header #nav li {
        margin-left: 0px;
    }
    #header #nav li + li:before {
        content: "//";
    }
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1800px) {

}
