body {
    background: #fafafa;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
}
.bg1 { background: #fafafa; }
.bg2 { background: #fff; }
.bg3 { background: #fff; }

.border\:primary { border: 1px solid #efefef; }
h1, h2, h3, h4, h5, h6 {
    color: #2c2c2e;
}
a:link, a:visited {
    color: #21a9ff;
}
a:link:hover, a:visited:hover, #nav a:link.selected:hover {
    color: #fa3ebe;
}
a p {
    color: #333;
}
.underline {
    border-bottom: 1px solid #21a9ff;
}
pre {
    background: #fff;
    border: 1px solid #f0f0f0;
}
pre code {
    color: #0B4F79;
}
pre code .keyword {
    color: #9B2393;
}
pre code .type {
    color: #3900A0;
}
pre code .call {
    color: #326D74;
}
pre code .property {
    color: #6C36A9;
}
pre code .number {
    color: #1C00CF;
}
pre code .string {
    color: #C41A16;
}
pre code .comment {
    color: #5D6C79;
}
pre code .dotAccess {
    color: #0F68A0;
}
pre code .preprocessing {
    color: #643820;
}
#header {
    background: #fff;
    border-bottom: 1px solid #efefef;
}
#nav li a:link, #nav li a:visited {
    color: #666;
}
#nav li a.selected {
    color: #21a9ff;
}
#nav li a:link:hover, #nav li a:visited:hover {
    color: #fa3ebe;
}
#menu-icon span, #menu-icon span:before, #menu-icon span:after {
    background: #666;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
footer {
    border-top: 1px solid #efefef;
    background: #fff;
}
input, textarea, select {
    border: 2px solid #f0f0f0;
    background-color: #fff;
    color: #666;
}
input:focus, textarea:focus, select:focus {
    border: 2px solid #ccc;
    background-color: #fff;
    color: #222;
}
.shadow-hover:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
}
form .required, form .error {
    color: #ef695e;
}

td.small img {
    width: 64px;
    height: 64px;
}
