<header id="navigation">
    <a href="/">
        <picture>
            <img
                src="{{baseUrl}}/images/logos/logo.png"
                alt="Logo of {{site.name}}"
                title="{{site.name}}"
            >
        </picture>
    </a>
    <nav>
        <input type="checkbox" id="primary-menu-button" name="menu-button" class="menu-button">
        <label for="primary-menu-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </label>
        <div class="menu-items">
            {{#site.navigation}}
            <a href="{{url}}"{{#isBlank}} target="_blank" rel="noreferrer"{{/isBlank}}>{{label}}</a>
            {{/site.navigation}}
            {{#auth.isSignedIn}}
            <a href="{{auth.adminURL}}">Admin</a>
            <a href="{{auth.logoutURL}}">Sign out</a>
            {{/auth.isSignedIn}}
            {{^auth.isSignedIn}}
            <a href="{{auth.loginURL}}">Sign in</a>
            {{/auth.isSignedIn}}
        </div>
    </nav>
</header>
