<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Install - Feather CMS</title>

    #if($app.isDebug):
    <link rel="stylesheet" href="/css/frontend.css">
    <link rel="stylesheet" href="/css/frontend.light.css">
    <link rel="stylesheet" href="/css/frontend.dark.css">
    #else:
    <link rel="stylesheet" href="/css/frontend.min.css">
    #endif

    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
        
    <style>
        #evaluate(css ?? "")
    </style>
</head>

<body class="m:zero">

    <header id="header">
        <a id="site-link" href="/" style="float: none;">
            <img src="/images/logo-text.png" alt="Logo of #($vars["site.title"])" title="#($vars["site.title"])" style="margin: 0 auto;">
        </a>
    </header>

    <main>
        #body()
    </main>

</body>
</html>
