{{& page.contents.html}}

<div id="news-categories" class="wrapper">
    {{#empty(items)}}<p>Empty.</p>{{/empty(items)}}
    {{^empty(items)}}
    <div class="grid grid-321">
    {{#items}}
        {{> partials/news/item}}
    {{/items}}
    </div>
    {{/empty(items)}}
</div>
