{{& page.contents.html}}

<div id="authors" class="wrapper">

    <div class="grid grid-221">
    {{#authors}}
        {{> partials/blog/author}}
    {{/authors}}
    </div>
    {{^authors}}
    <p>Empty.</p>
    {{/authors}}
</div>
