{{& page.contents.html}}

<div id="blog" class="wrapper">
    <h4>Latest posts</h4>

    <div class="grid grid-321">
    {{#posts}}
        {{> partials/blog/post}}
    {{/posts}}
    </div>
    {{^posts}}
    <p>Empty.</p>
    {{/posts}}
</div>
