{{& page.contents.html}}

<div id="posts" class="wrapper">

    <div class="grid grid-321">
    {{#posts}}
        {{> partials/blog/post}}
    {{/posts}}
    </div>
    {{^posts}}
    <p>Empty.</p>
    {{/posts}}
</div>
