#extend("Admin/Form"):
    #export("title", "Contents")
    #export("toolbar-buttons"):
        #if(edit.id != nil):
        <li><a href="/admin/#(edit.module.value)/#(edit.model.value)/#(edit.reference.value)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></a></li>

        <li><a href="/#(edit.slug.value)/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></a></li>
    
        #endif
    #endexport
    #export("fields"):
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "slug")
            #export("label", "Slug")
            #export("error", edit.slug.error)
            #export("value", edit.slug.value)
        #endextend
        #extend("Admin/FormFields/Select"):
            #export("name", "statusId")
            #export("label", "Status")
            #export("error", edit.statusId.error)
            #export("options"):
            #for(item in edit.statusId.options):
            <option #if(item.key == edit.statusId.value): selected="selected" #endif value="#(item.key)">#(item.label)</option>
            #endfor
            #endexport
        #endextend
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "date")
            #export("label", "Date (yyyy/mm/dd)")
            #export("error", edit.date.error)
            #export("value", edit.date.value)
        #endextend
        #extend("Admin/FormFields/Select"):
            #export("name", "feedItem")
            #export("label", "Feed item")
            #export("error", edit.feedItem.error)
            #export("options"):
            #for(item in edit.feedItem.options):
            <option #if(item.key == edit.feedItem.value): selected="selected" #endif value="#(item.key)">#(item.label)</option>
            #endfor
            #endexport
        #endextend

<section>
    <label for="filters">Filters</label>
    <select name="filters[]" multiple>
        #for(item in edit.filters.options):
        <option #if(contains(item.key, edit.filters.values)): selected="selected" #endif value="#(item.key)">#(item.label)</option>
        #endfor
    </select>
    #if(edit.filters.error):
    <span class="error">edit.filters.error</span>
    #endif
</section>

        <hr>
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "title")
            #export("label", "Title")
            #export("error", edit.title.error)
            #export("value", edit.title.value)
        #endextend
        #extend("Admin/FormFields/Textarea"):
            #export("size", "small")
            #export("name", "excerpt")
            #export("label", "Excerpt")
            #export("error", edit.excerpt.error)
            #export("value", edit.excerpt.value)
        #endextend
        #extend("Admin/FormFields/File"):
            #export("accept", "image/jpeg")
            #export("name", "image")
            #export("label", "Image")
            #export("error", edit.image.error)
            #export("value", edit.image.value)
        #endextend
        #extend("Admin/FormFields/Input"):
            #export("required", false)
            #export("name", "canonicalUrl")
            #export("label", "Canonical Url")
            #export("error", edit.canonicalUrl.error)
            #export("value", edit.canonicalUrl.value)
        #endextend
        
        <hr>
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "module")
            #export("label", "Module")
            #export("error", edit.module.error)
            #export("value", edit.module.value)
        #endextend
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "model")
            #export("label", "Model")
            #export("error", edit.model.error)
            #export("value", edit.model.value)
        #endextend
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "reference")
            #export("label", "Reference")
            #export("error", edit.reference.error)
            #export("value", edit.reference.value)
        #endextend

    #endexport
#endextend
