#extend("Admin/Table"):
    #export("title", "Contents")
    #export("toolbar-buttons", "")

    #export("th"):
        <tr>
            <th><a href="#sortQuery("slug")">Slug #sortIndicator("slug", true)</a></th>
            <th><a href="#sortQuery("module")">Module #sortIndicator("module")</a></th>
            <th><a href="#sortQuery("model")">Model #sortIndicator("model")</a></th>
            <th><a href="#sortQuery("reference")">Reference #sortIndicator("reference")</a></th>
            <th>Actions</th>
        </tr>
    #endexport

    #export("tb"):
        #for(item in items):
            <tr>
                <td><a href="#path()#(item.id)/">#(item.slug)</a></td>
                <td><a href="#path()#(item.id)/">#(item.module)</a></td>
                <td><a href="#path()#(item.id)/">#(item.model)</a></td>
                <td><a href="#path()#(item.id)/">#(item.reference)</a></td>
                #extend("Admin/Actions"):#endextend
            </tr>
        #endfor
    #endexport
#endextend
