#define(toolbarRight):
    #if(fields.id != nil):
    <a href="/admin/menu/menus/#(fields.id)/items">#svg("link")</a>
    #endif
#enddefine

#define(fields):
    #var(field = nil)

    #(field = ["id": "handle", "required": true, "data": fields.handle])
    #inline("Admin/Fields/Text")

    #(field = ["id": "name", "data": fields.name])
    #inline("Admin/Fields/Text")

    #(field = ["id": "icon", "data": fields.icon])
    #inline("Admin/Fields/Text")

#enddefine

#let(form = [
    "list": "menus",
    "id": formId,
    "token": formToken,
    "modelId": fields.id,
    "key": "menu"
])
#inline("Admin/Form")
