#define(toolbarLeft):
    #if(edit.id != nil):
    <a href="/admin/frontend/metadatas/#(edit.metadata.id)">#svg("feather")</a>
    <a href="/#(edit.metadata.slug)/" target="_blank">#svg("eye")</a>
    #endif
#enddefine
#define(fields):
    #var(field = nil)

    #(field = ["id": "title", "required": true, "data": edit.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "content", "size": "large", "data": edit.content])
    #inline("Admin/Fields/Textarea")

#enddefine
#let(title = "Pages")
#let(form = ["key": "pages", "id": edit.id])
#inline("Admin/Form")
