#define(css):
@media (min-width: 600px) {
    .table .th, .table .tr {
        grid-template-columns: 1fr 64px 96px;
    }
}
#enddefine
#define(th):
    <div class="td td:left m:horizontal:s">#let(link = ["key": "title"])#inline("Admin/SortLink")</div>
    <div class="td td:center">Edit</div>
    <div class="td td:center">Delete</div>
#enddefine
#define(tr):
    #for(item in list.items):
<div class="tr">
    <div class="td td:left m:horizontal:s"><a href="#($req.url.path)#(item.id)/">#(item.title)</a></div>
    #inline("Admin/Actions")
</div>
    #endfor
#enddefine
#let(title = "Pages")
#inline("Admin/Table")
