#extend("Admin/Table"):
    #export("title", "Users")
    #export("toolbar-buttons", "")

    #export("th"):
        <tr>
            <th><a href="#sortQuery("email")">Email #sortIndicator("email", true)</a></th>
            <th>Actions</th>
        </tr>
    #endexport

    #export("tb"):
        #for(item in items):
            <tr>
                <td><a href="#path()#(item.id)/">#(item.email)</a></td>
                #extend("Admin/Actions"):#endextend
            </tr>
        #endfor
    #endexport
#endextend
