#define(toolbarLeft):
    #if(edit.metadata != nil):
    <a href="/admin/frontend/metadatas/#(edit.metadata.id)">#svg("feather")</a>
    <a href="/#(edit.metadata.slug)/" target="_blank">#svg("eye")</a>
    #endif
#enddefine
#define(fields):
    #var(field = nil)

    #(field = ["id": "title", "required": true, "data": edit.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "excerpt", "size": "small", "data": edit.excerpt])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "image", "class": "large", "data": edit.image])
    #inline("Admin/Fields/File")

    #(field = ["id": "content", "size": "large", "data": edit.content])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "categoryId", "label": "Category", "data": edit.categoryId])
    #inline("Admin/Fields/Selection")

    #(field = ["id": "authorId", "label": "Author", "data": edit.authorId])
    #inline("Admin/Fields/Selection")

#enddefine
#let(form = ["list": "posts", "key": "post", "id": edit.id, "multipart": true])
#inline("Admin/Form")
