#extend("Admin/Form"):
    #export("title", "Redirects")
    #export("toolbar-buttons"):
    #endexport
    #export("fields"):
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "source")
            #export("label", "Source")
            #export("error", edit.source.error)
            #export("value", edit.source.value)
        #endextend
        #extend("Admin/FormFields/Input"):
            #export("required", true)
            #export("name", "destination")
            #export("label", "Destination")
            #export("error", edit.destination.error)
            #export("value", edit.destination.value)
        #endextend
        #extend("Admin/FormFields/Select"):
            #export("name", "statusCode")
            #export("label", "Status Code")
            #export("error", edit.statusCode.error)
            #export("options"):
            #for(item in edit.statusCode.options):
            <option #if(item.key == edit.statusCode.value): selected="selected" #endif value="#(item.key)">#(item.label)</option>
            #endfor
            #endexport
        #endextend
    #endexport
#endextend

