<article class="news-item">
    {{#hasImage}}<img src="{{image}}" alt="{{title}}">{{/hasImage}}
    <h2><a href="{{permalink}}">{{title}}</a></h2>
    <p>{{description}}</p>
    <a href="{{permalink}}">Show more</a>
</article>
