#define(css):
@media (min-width: 600px) {
    .table .th, .table .tr {
        grid-template-columns: 1fr 1fr 1fr 64px 96px;
    }
}
#enddefine
#define(th):
    #var(link = nil)
    <div class="td td:left m:horizontal:s">#(link = ["key": "source", "default": true])#inline("Admin/SortLink")</div>
    <div class="td td:left">#(link = ["key": "destination"])#inline("Admin/SortLink")</div>
    <div class="td td:left">#(link = ["key": "status_code", "label": "Status code"])#inline("Admin/SortLink")</div>
    <div class="td td:center">Edit</div>
    <div class="td td:center">Delete</div>
#enddefine
#define(tr):
    #for(item in list.items):
<div class="tr">
    <div class="td td:left m:horizontal:s"><a href="#($req.url.path)#(item.id)/">#(item.source)</a></div>
    <div class="td td:left"><a href="#($req.url.path)#(item.id)/">#(item.destination)</a></div>
    <div class="td td:left"><a href="#($req.url.path)#(item.id)/">#(item.statusCode)</a></div>
    #inline("Admin/Actions")
</div>
    #endfor
#enddefine
#let(title = "Redirects")
#inline("Admin/Table")

