<section class="m:bottom #(field.class ?? "large")-uploader uploader">
    <label for="#(field.id)">#(field.label ?? field.id.capitalized())#if(field.required ?? false):<span class="required">*</span>#endif</label>
    <div id="image-uploader" class="image-uploader">
        <div id="placeholder" class="p:l #if(field.data.value != ""):hidden#endif">#svg(field.placeholder ?? "image", class: "w64 block")</div>
        #if(field.data.value != ""):
            <img id="uploaded-image" src="#(field.data.value.resolve() ?? "")">
        #endif
        
        <a id="choose-button" href="javascript:void(0);" onclick="chooseImage();">Choose</a>
        #if(!field.required ?? false):
        <a id="remove-button" href="javascript:void(0);" onclick="removeImage()">Remove</a>
        #endif
        <input id="#(field.id)Delete" name="#(field.id)Delete" type="hidden" value="false">
        <input id="#(field.id)" name="#(field.id)" type="file"#if(field.accept != nil): accept="#(field.accept)"#endif class="hidden"#if(field.required ?? false): aria-required="true"#endif>
    </div>
    #if(field.data.error != nil):
    <span class="error">#(field.data.error)</span>
    #endif
</section>
