<div class="card tag">
    <h2><a href="{{permalink}}">{{title}}</a></h2>
    {{#postCountLabel}}<p>{{.}}</p>{{/postCountLabel}}
    {{^postCountLabel}}<p>{{description}}</p>{{/postCountLabel}}
</div>
