#define(css):
@media (min-width: 600px) {
    .table .th, .table .tr {
        grid-template-columns: 1fr 1fr 128px 64px 96px;
    }
}
#enddefine
#define(toolbarRight):

    <a href="/admin/blog/authors/#Request(parameter: "id")/">#svg("link")</a>
#enddefine
#define(th):
    #var(link = nil)
    <div class="td td:left m:horizontal:s">#(link = ["key": "name", "default": true])#inline("Admin/SortLink")</div>
    <div class="td td:left">#(link = ["key": "url"])#inline("Admin/SortLink")</div>
    <div class="td td:center">#(link = ["key": "priority"])#inline("Admin/SortLink")</div>
    <div class="td td:center">Edit</div>
    <div class="td td:center">Delete</div>
#enddefine
#define(tr):
    #for(item in list.items):
<div class="tr">
    <div class="td td:left m:horizontal:s"><a href="#($req.url.path)#(item.id)/">#(item.name)</a></div>
    <div class="td td:left"><a href="#($req.url.path)#(item.id)/">#(item.url)</a></div>
    <div class="td td:center"><a href="#($req.url.path)#(item.id)/">#(item.priority)</a></div>
    #inline("Admin/Actions")
</div>
    #endfor
#enddefine
#let(title = "Author links")
#inline("Admin/Table")
