#define(toolbarLeft):
    #if(fields.modelId != nil):
    <a href="/admin/#(fields.module.value)/#(fields.model.value)/#(fields.reference.value)">#svg("edit")</a>
    <a href="#if(!fields.slug.value.isEmpty()):/#(fields.slug.value)/#else:/#endif" target="_blank">#svg("eye")</a>
    #endif
#enddefine
#define(fields):
    #var(field = nil)

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">Information</legend>

    #(field = ["id": "image", "class": "large", "data": fields.image, "accept": "image/jpeg"])
    #inline("Admin/Fields/File")
    
    #(field = ["id": "title", "data": fields.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "excerpt", "size": "small", "data": fields.excerpt])
    #inline("Admin/Fields/Textarea")
    
    
    #(field = ["id": "date", "more": fields.dateFormat, "data": fields.date])
    #inline("Admin/Fields/Text")
</fieldset>

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">SEO</legend>

    #(field = ["id": "slug", "data": fields.slug])
    #inline("Admin/Fields/Text")

    #(field = ["id": "statusId", "label": "Status", "data": fields.statusId])
    #inline("Admin/Fields/Selection")

    #(field = ["id": "feedItem", "label": "Include in RSS?", "data": fields.feedItem])
    #inline("Admin/Fields/Selection")
    
    #(field = ["id": "canonicalUrl", "label": "Canonical URL", "required": false, "data": fields.canonicalUrl])
    #inline("Admin/Fields/Text")
</fieldset>

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">Content</legend>
    #(field = ["id": "filters", "data": fields.filters])
    #inline("Admin/Fields/Multiselection")

    #(field = ["id": "css", "label": "CSS", "size": "small", "data": fields.css])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "js", "label": "JavaScript", "size": "small", "data": fields.js])
    #inline("Admin/Fields/Textarea")
</fieldset>

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">Reference</legend>

    #(field = ["id": "module", "required": true, "data": fields.module])
    #inline("Admin/Fields/Text")
    
    #(field = ["id": "model", "required": true, "data": fields.model])
    #inline("Admin/Fields/Text")
    
    #(field = ["id": "reference", "label": "Identifier", "required": true, "data": fields.reference])
    #inline("Admin/Fields/Text")
</fieldset>

#enddefine

#let(form = [
    "list": "metadatas",
    "id": formId,
    "token": formToken,
    "modelId": fields.modelId,
    "key": "metadata",
    "multipart": true
])
#inline("Admin/Form")
