#define(toolbarLeft):
    #if(edit.id != nil):
    <a href="/admin/frontend/metadatas/#(edit.metadata.id)">#svg("feather")</a>
    <a href="#if(!edit.metadata.slug.isEmpty()):/#(edit.metadata.slug)/#else:/#endif" target="_blank">#svg("eye")</a>
    #endif
#enddefine
#define(toolbarRight):
    #if(edit.id != nil):
    <a href="/admin/blog/authors/#(edit.id)/links">#svg("link")</a>
    #endif
#enddefine
#define(fields):
    #var(field = nil)

    #(field = ["id": "image", "class": "circular", "data": edit.image])
    #inline("Admin/Fields/File")

    #(field = ["id": "name", "required": true, "data": edit.name])
    #inline("Admin/Fields/Text")

    #(field = ["id": "bio", "size": "small", "data": edit.bio])
    #inline("Admin/Fields/Textarea")

#enddefine
#let(form = ["list": "authors", "key": "author", "id": edit.id, "multipart": true])
#inline("Admin/Form")
