#define(css):
@media (min-width: 600px) {
    .table .th, .table .tr {
        grid-template-columns: 96px 1fr 64px 96px;
    }
}
#enddefine
#define(th):
    #var(link = nil)
    <div class="td td:center">Image</div>
    <div class="td td:left">#(link = ["key": "name", "default": true])#inline("Admin/SortLink")</div>
    <div class="td td:center">Edit</div>
    <div class="td td:center">Delete</div>
#enddefine
#define(tr):
    #for(item in list.items):
<div class="tr">
    <div class="td td:center">
        <a href="#($req.url.path)#(item.id)/"><img class="w64 br:circular" src="#(item.imageKey.resolve())" alt="#(item.name)"></a>
    </div>
    <div class="td td:left"><a href="#($req.url.path)#(item.id)/">#(item.name)</a></div>
    #inline("Admin/Actions")
</div>
    #endfor
#enddefine
#let(title = "Authors")
#inline("Admin/Table")
