import HTTPTypes
// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime

#if os(Linux)
@preconcurrency import struct Foundation.URL
@preconcurrency import struct Foundation.Data
@preconcurrency import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// - Remark: HTTP `POST /api/v1/newsletter/campaign/{newsletterCampaignId}/subscribe`.
    /// - Remark: Generated from `#/paths//api/v1/newsletter/campaign/{newsletterCampaignId}/subscribe/post(appNewsletterCampaignSubscribe)`.
    public func appNewsletterCampaignSubscribe(
        _ input: Operations.AppNewsletterCampaignSubscribe.Input
    ) async throws -> Operations.AppNewsletterCampaignSubscribe.Output {
        try await client.send(
            input: input,
            forOperation: Operations.AppNewsletterCampaignSubscribe.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/v1/newsletter/campaign/{}/subscribe",
                    parameters: [
                        input.path.newsletterCampaignId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case .json(let value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 204:
                    return .noContent(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// - Remark: HTTP `POST /api/v1/newsletter/campaign/{newsletterCampaignId}/unsubscribe`.
    /// - Remark: Generated from `#/paths//api/v1/newsletter/campaign/{newsletterCampaignId}/unsubscribe/post(appNewsletterCampaignUnsubscribe)`.
    public func appNewsletterCampaignUnsubscribe(
        _ input: Operations.AppNewsletterCampaignUnsubscribe.Input
    ) async throws -> Operations.AppNewsletterCampaignUnsubscribe.Output {
        try await client.send(
            input: input,
            forOperation: Operations.AppNewsletterCampaignUnsubscribe.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/v1/newsletter/campaign/{}/unsubscribe",
                    parameters: [
                        input.path.newsletterCampaignId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case .json(let value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 204:
                    return .noContent(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
}
