import HTTPTypes
// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime

#if os(Linux)
@preconcurrency import struct Foundation.URL
@preconcurrency import struct Foundation.Data
@preconcurrency import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
extension APIProtocol {
    /// Registers each operation handler with the provided transport.
    /// - Parameters:
    ///   - transport: A transport to which to register the operation handlers.
    ///   - serverURL: A URL used to determine the path prefix for registered
    ///   request handlers.
    ///   - configuration: A set of configuration values for the server.
    ///   - middlewares: A list of middlewares to call before the handler.
    public func registerHandlers(
        on transport: any ServerTransport,
        serverURL: Foundation.URL = .defaultOpenAPIServerURL,
        configuration: Configuration = .init(),
        middlewares: [any ServerMiddleware] = []
    ) throws {
        let server = UniversalServer(
            serverURL: serverURL,
            handler: self,
            configuration: configuration,
            middlewares: middlewares
        )
        try transport.register(
            {
                try await server.newsArticleList(
                    request: $0,
                    body: $1,
                    metadata: $2
                )
            },
            method: .get,
            path: server.apiPathComponentsWithServerPrefix(
                "/api/v1/news/articles"
            )
        )
        try transport.register(
            {
                try await server.newsArticleGet(
                    request: $0,
                    body: $1,
                    metadata: $2
                )
            },
            method: .get,
            path: server.apiPathComponentsWithServerPrefix(
                "/api/v1/news/articles/{id}"
            )
        )
        try transport.register(
            {
                try await server.newsCategoryList(
                    request: $0,
                    body: $1,
                    metadata: $2
                )
            },
            method: .get,
            path: server.apiPathComponentsWithServerPrefix(
                "/api/v1/news/categories"
            )
        )
        try transport.register(
            {
                try await server.newsCategoryGet(
                    request: $0,
                    body: $1,
                    metadata: $2
                )
            },
            method: .get,
            path: server.apiPathComponentsWithServerPrefix(
                "/api/v1/news/categories/{id}"
            )
        )
    }
}

extension UniversalServer where APIHandler: APIProtocol {
    /// - Remark: HTTP `GET /api/v1/news/articles`.
    /// - Remark: Generated from `#/paths//api/v1/news/articles/get(newsArticleList)`.
    fileprivate func newsArticleList(
        request: HTTPTypes.HTTPRequest,
        body: OpenAPIRuntime.HTTPBody?,
        metadata: OpenAPIRuntime.ServerRequestMetadata
    ) async throws -> (HTTPTypes.HTTPResponse, OpenAPIRuntime.HTTPBody?) {
        try await handle(
            request: request,
            requestBody: body,
            metadata: metadata,
            forOperation: Operations.NewsArticleList.id,
            using: {
                APIHandler.newsArticleList($0)
            },
            deserializer: { request, requestBody, metadata in
                let headers: Operations.NewsArticleList.Input.Headers = .init(
                    accept: try converter.extractAcceptHeaderIfPresent(
                        in: request.headerFields
                    )
                )
                return Operations.NewsArticleList.Input(headers: headers)
            },
            serializer: { output, request in
                switch output {
                case .ok(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 200)
                    suppressMutabilityWarning(&response)
                    let body: OpenAPIRuntime.HTTPBody
                    switch value.body {
                    case .json(let value):
                        try converter.validateAcceptIfPresent(
                            "application/json",
                            in: request.headerFields
                        )
                        body = try converter.setResponseBodyAsJSON(
                            value,
                            headerFields: &response.headerFields,
                            contentType: "application/json; charset=utf-8"
                        )
                    }
                    return (response, body)
                case .undocumented(let statusCode, _):
                    return (.init(soar_statusCode: statusCode), nil)
                }
            }
        )
    }
    /// - Remark: HTTP `GET /api/v1/news/articles/{id}`.
    /// - Remark: Generated from `#/paths//api/v1/news/articles/{id}/get(newsArticleGet)`.
    fileprivate func newsArticleGet(
        request: HTTPTypes.HTTPRequest,
        body: OpenAPIRuntime.HTTPBody?,
        metadata: OpenAPIRuntime.ServerRequestMetadata
    ) async throws -> (HTTPTypes.HTTPResponse, OpenAPIRuntime.HTTPBody?) {
        try await handle(
            request: request,
            requestBody: body,
            metadata: metadata,
            forOperation: Operations.NewsArticleGet.id,
            using: {
                APIHandler.newsArticleGet($0)
            },
            deserializer: { request, requestBody, metadata in
                let path: Operations.NewsArticleGet.Input.Path = .init(
                    id: try converter.getPathParameterAsURI(
                        in: metadata.pathParameters,
                        name: "id",
                        as: Components.Parameters.NewsArticleIdParameter.self
                    )
                )
                let headers: Operations.NewsArticleGet.Input.Headers = .init(
                    accept: try converter.extractAcceptHeaderIfPresent(
                        in: request.headerFields
                    )
                )
                return Operations.NewsArticleGet.Input(
                    path: path,
                    headers: headers
                )
            },
            serializer: { output, request in
                switch output {
                case .ok(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 200)
                    suppressMutabilityWarning(&response)
                    let body: OpenAPIRuntime.HTTPBody
                    switch value.body {
                    case .json(let value):
                        try converter.validateAcceptIfPresent(
                            "application/json",
                            in: request.headerFields
                        )
                        body = try converter.setResponseBodyAsJSON(
                            value,
                            headerFields: &response.headerFields,
                            contentType: "application/json; charset=utf-8"
                        )
                    }
                    return (response, body)
                case .notFound(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 404)
                    suppressMutabilityWarning(&response)
                    return (response, nil)
                case .undocumented(let statusCode, _):
                    return (.init(soar_statusCode: statusCode), nil)
                }
            }
        )
    }
    /// - Remark: HTTP `GET /api/v1/news/categories`.
    /// - Remark: Generated from `#/paths//api/v1/news/categories/get(newsCategoryList)`.
    fileprivate func newsCategoryList(
        request: HTTPTypes.HTTPRequest,
        body: OpenAPIRuntime.HTTPBody?,
        metadata: OpenAPIRuntime.ServerRequestMetadata
    ) async throws -> (HTTPTypes.HTTPResponse, OpenAPIRuntime.HTTPBody?) {
        try await handle(
            request: request,
            requestBody: body,
            metadata: metadata,
            forOperation: Operations.NewsCategoryList.id,
            using: {
                APIHandler.newsCategoryList($0)
            },
            deserializer: { request, requestBody, metadata in
                let headers: Operations.NewsCategoryList.Input.Headers = .init(
                    accept: try converter.extractAcceptHeaderIfPresent(
                        in: request.headerFields
                    )
                )
                return Operations.NewsCategoryList.Input(headers: headers)
            },
            serializer: { output, request in
                switch output {
                case .ok(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 200)
                    suppressMutabilityWarning(&response)
                    let body: OpenAPIRuntime.HTTPBody
                    switch value.body {
                    case .json(let value):
                        try converter.validateAcceptIfPresent(
                            "application/json",
                            in: request.headerFields
                        )
                        body = try converter.setResponseBodyAsJSON(
                            value,
                            headerFields: &response.headerFields,
                            contentType: "application/json; charset=utf-8"
                        )
                    }
                    return (response, body)
                case .undocumented(let statusCode, _):
                    return (.init(soar_statusCode: statusCode), nil)
                }
            }
        )
    }
    /// - Remark: HTTP `GET /api/v1/news/categories/{id}`.
    /// - Remark: Generated from `#/paths//api/v1/news/categories/{id}/get(newsCategoryGet)`.
    fileprivate func newsCategoryGet(
        request: HTTPTypes.HTTPRequest,
        body: OpenAPIRuntime.HTTPBody?,
        metadata: OpenAPIRuntime.ServerRequestMetadata
    ) async throws -> (HTTPTypes.HTTPResponse, OpenAPIRuntime.HTTPBody?) {
        try await handle(
            request: request,
            requestBody: body,
            metadata: metadata,
            forOperation: Operations.NewsCategoryGet.id,
            using: {
                APIHandler.newsCategoryGet($0)
            },
            deserializer: { request, requestBody, metadata in
                let path: Operations.NewsCategoryGet.Input.Path = .init(
                    id: try converter.getPathParameterAsURI(
                        in: metadata.pathParameters,
                        name: "id",
                        as: Components.Parameters.NewsCategoryIdParameter.self
                    )
                )
                let headers: Operations.NewsCategoryGet.Input.Headers = .init(
                    accept: try converter.extractAcceptHeaderIfPresent(
                        in: request.headerFields
                    )
                )
                return Operations.NewsCategoryGet.Input(
                    path: path,
                    headers: headers
                )
            },
            serializer: { output, request in
                switch output {
                case .ok(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 200)
                    suppressMutabilityWarning(&response)
                    let body: OpenAPIRuntime.HTTPBody
                    switch value.body {
                    case .json(let value):
                        try converter.validateAcceptIfPresent(
                            "application/json",
                            in: request.headerFields
                        )
                        body = try converter.setResponseBodyAsJSON(
                            value,
                            headerFields: &response.headerFields,
                            contentType: "application/json; charset=utf-8"
                        )
                    }
                    return (response, body)
                case .notFound(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 404)
                    suppressMutabilityWarning(&response)
                    return (response, nil)
                case .undocumented(let statusCode, _):
                    return (.init(soar_statusCode: statusCode), nil)
                }
            }
        )
    }
}
