#define(toolbarButtons):
    #if(edit.id != nil):
    <li><a href="/admin/frontend/metadatas/#(edit.metadata.id)">#inline("Admin/Icons/Feather", as: raw)</a></li>
    <li><a href="/#(edit.metadata.slug)/" target="_blank">#inline("Admin/Icons/Eye", as: raw)</a></li>
    #endif
#enddefine
#define(fields):
    #var(field = nil)

    #(field = ["id": "image", "class": "square-image-uploader", "data": edit.image])
    #inline("Admin/Fields/File")

    #(field = ["id": "title", "required": true, "data": edit.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "excerpt", "size": "small", "data": edit.excerpt])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "priority", "required": true, "data": edit.priority])
    #inline("Admin/Fields/Text")

#enddefine
#let(title = "Categories")
#let(form = ["key": "categories", "id": edit.id, "multipart": true])
#inline("Admin/Form")
