#extend("Admin/Table"):
    #export("title", "Categories")
    #export("toolbar-buttons", "")
    #export("breadcrumb", "asdfa")

    #export("th"):
        <tr>
            <th><a href="#sortQuery("image")">Image #sortIndicator("image")</a></th>
            <th><a href="#sortQuery("title")">Title #sortIndicator("title")</a></th>
            <th class="small"><a href="#sortQuery("priority")">Priority #sortIndicator("priority", true)</a></th>
            <th class="actions">Actions</th>
        </tr>
    #endexport

    #export("tb"):
        #for(item in items):
            <tr>
                <td class="small center"><a href="#path()#(item.id)/"><img src="#resolve(item.imageKey)" alt="#(item.name)"></a></td>
                <td><a href="#path()#(item.id)/">#(item.title)</a></td>
                <td class="small center"><a href="#path()#(item.id)/">#(item.priority)</a></td>
                #extend("Admin/Actions"):#endextend
            </tr>
        #endfor
    #endexport
#endextend
