#let(head = [
    "title": "Login",
    "description": "Sign in with your existing account"
])
#define(body):
<div id="login" class="wrapper w:full m:l">

    <header class="m:b:l center">
        <h1>#(head.title)</h1>
        <p>#(head.description)</p>
    </header>
    
    <section class="wrapper w:s br:s bg3">
        
        <form action="#($req.url.path)?redirect=admin" method="post" class="p:l">
            #var(field = nil)
            #(field = ["id": "email", "type": "email", "required": true, "data": edit.email, "placeholder": "hello@binarybirds.com"])
            #inline("Admin/Fields/Text")
            
            #(field = ["id": "password", "type": "password", "required": true, "data": edit.password])
            #inline("Admin/Fields/Text")
            
            #(field = ["label": "Sign in"])
            #inline("Admin/Fields/Button")

            #if(edit.notification != nil):
            <p id="notification" class="center"><span class="error">#(edit.notification)</span></p>
            #endif
        </form>
        
    </section>

</div>
#enddefine
#inline("Frontend/Index")
