#extend("Admin/Index"):
    #export("toolbar"):
        <li><b>#if(edit.id != nil):Edit#else:Create#endif</b></li>
        #import("toolbar-buttons")
    #endexport
    #export("breadcrumb"):
        <li><a href="#pathDropLast()">#import("title")</a></li>
    #endexport
    #export("body"):
        <form id="edit-form" method="post" action="#path()" enctype="multipart/form-data">
            <input type="hidden" name="id" value="#(edit.id)">

            #import("fields")
            
            <section>
                <input type="submit" value="Save">
            </section>
        </form>

        #if(edit.notification != nil):
        <p id="notification">#(edit.notification)</p>
        #endif

    #endexport
#endextend

