
#if(metadata.total > 1 && metadata.page <= metadata.total):
    <hr>
    <section class="wrapper">
        #if(metadata.page > 1):
        <a href="#setQuery("page", 1)" class="text-link">◀◀</a>
        #else:
        <span class="text-link inactive-link">◀◀</span>
        #endif

        #if(metadata.page > 1):
        <a href="#setQuery("page", metadata.page - 1)" class="text-link">◀</a>
        #else:
        <span class="text-link inactive-link">◀</span>
        #endif

        <span class="pager">
        page #(metadata.page) of #(metadata.total)
        </span>

        #if(metadata.page < metadata.total):
        <a href="#setQuery("page", metadata.page + 1)" class="text-link">▶</a>
        #else:
        <span class="text-link inactive-link">▶</span>
        #endif

        #if(metadata.page < metadata.total):
        <a href="#setQuery("page", metadata.total)" class="text-link">▶▶</a>
        #else:
        <span class="text-link inactive-link">▶▶</span>
        #endif
    </section>
#endif
