
#define(toolbar):
    <li><b>#(title)</b></li>
    #toolbarButtons()
    <li><a href="#($req.url.path)new/">#inline("Admin/Icons/Plus")</a></li>
#enddefine
#define(breadcrumb):

#enddefine
#define(body):
<div id="list">
    <form id="search-form" action="#($req.url.path)" method="get">
        #if(Request(query: "sort") != nil):
        <input type="hidden" id="sort" name="sort" value="#Request(query: "sort")">
        #endif
        #if(Request(query: "order") != nil):
        <input type="hidden" id="order" name="order" value="#Request(query: "order")">
        #endif

        <input type="text" id="search" name="search" placeholder="Search..." value="#Request(query: "search")">
    </form>

    <table>
        <thead>
            #th()
        </thead>
        <tbody>
            #tb()
        </tbody>
    </table>

    #if(list.items.isEmpty()):
    <div class="empty">
        <span>😬</span>
        <h3>No results.</h3>
        <p>Maybe you should <a href="#($req.url.path)">start over</a> the process.</p>
    </div>
    #endif

    <div class="pager">
    #inline("Admin/Pagination")
    </div>
</div>
#enddefine

#inline("Admin/Index")
