#extend("Admin/Index"):
    #export("toolbar"):
        <li><b>#import("title")</b></li>
        #import("toolbar-buttons")
        <li><a href="#path()new/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></a></li>
    #endexport
    #export("breadcrumb"):
    
    #endexport
    #export("body"):
    <div id="list">
        
        <form id="search-form" action="#path()" method="get">
            #if(query("sort") != nil):
            <input type="hidden" id="sort" name="sort" value="#query("sort")">
            #endif
            #if(query("order") != nil):
            <input type="hidden" id="order" name="order" value="#query("order")">
            #endif

            <input type="text" id="search" name="search" placeholder="Search..." value="#query("search")">
        </form>

        <table>
            <thead>
                #import("th")
            </thead>
            <tbody>
                #import("tb")
            </tbody>
        </table>

        #if(isEmpty(items)):
        <div class="empty">
            <span>😬</span>
            <h3>No results.</h3>
            <p>Maybe you should <a href="#path()">start over</a> the process.</p>
        </div>
        #endif

        <div class="pager">
        #extend("Admin/Pager"):#endextend
        </div>
    </div>
    #endexport
#endextend
