<section#if(import("class")): class="#import("class")"#endif>
    <label for="#import("name")">#import("label")</label>
    <div id="image-uploader" class="image-uploader">
        #if(import("value") != ""):
        <img id="uploaded-image" src="#resolve(import("value"))">
        #endif
        <a id="choose-button" href="javascript:void(0);" onclick="chooseImage();">Choose</a>
        <a id="remove-button" href="javascript:void(0);" onclick="removeImage()">Remove</a>
        <input id="imageDelete" name="imageDelete" type="hidden" value="false">
        <input id="#import("name")" name="#import("name")" type="file" accept="image/jpeg" style="display:none;">
    </div>
    #if(import("error")):
    <span class="error">#import("error")</span>
    #endif
</section>
