import HTTPTypes
// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime

#if os(Linux)
@preconcurrency @unsafe import struct Foundation.URL
@preconcurrency @unsafe import struct Foundation.Data
@preconcurrency @unsafe import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
extension APIProtocol {
    /// Registers each operation handler with the provided transport.
    /// - Parameters:
    ///   - transport: A transport to which to register the operation handlers.
    ///   - serverURL: A URL used to determine the path prefix for registered
    ///   request handlers.
    ///   - configuration: A set of configuration values for the server.
    ///   - middlewares: A list of middlewares to call before the handler.
    public func registerHandlers(
        on transport: any ServerTransport,
        serverURL: Foundation.URL = .defaultOpenAPIServerURL,
        configuration: Configuration = .init(),
        middlewares: [any ServerMiddleware] = []
    ) throws {
        let server = UniversalServer(
            serverURL: serverURL,
            handler: self,
            configuration: configuration,
            middlewares: middlewares
        )
        try transport.register(
            {
                try await server.mediaAssetResolve(
                    request: $0,
                    body: $1,
                    metadata: $2
                )
            },
            method: .post,
            path: server.apiPathComponentsWithServerPrefix(
                "/api/v1/media/assets/resolve"
            )
        )
    }
}

extension UniversalServer where APIHandler: APIProtocol {
    /// - Remark: HTTP `POST /api/v1/media/assets/resolve`.
    /// - Remark: Generated from `#/paths//api/v1/media/assets/resolve/post(mediaAssetResolve)`.
    fileprivate func mediaAssetResolve(
        request: HTTPTypes.HTTPRequest,
        body: OpenAPIRuntime.HTTPBody?,
        metadata: OpenAPIRuntime.ServerRequestMetadata
    ) async throws -> (HTTPTypes.HTTPResponse, OpenAPIRuntime.HTTPBody?) {
        try await handle(
            request: request,
            requestBody: body,
            metadata: metadata,
            forOperation: Operations.MediaAssetResolve.id,
            using: {
                APIHandler.mediaAssetResolve($0)
            },
            deserializer: { request, requestBody, metadata in
                let headers: Operations.MediaAssetResolve.Input.Headers = .init(
                    accept: try converter.extractAcceptHeaderIfPresent(
                        in: request.headerFields
                    )
                )
                let contentType = converter.extractContentTypeIfPresent(
                    in: request.headerFields
                )
                let body: Components.RequestBodies.MediaAssetResolveRequestBody
                let chosenContentType = try converter.bestContentType(
                    received: contentType,
                    options: [
                        "application/json"
                    ]
                )
                switch chosenContentType {
                case "application/json":
                    body = try await converter.getRequiredRequestBodyAsJSON(
                        Components.Schemas.MediaAssetResolveRequestSchema.self,
                        from: requestBody,
                        transforming: { value in
                            .json(value)
                        }
                    )
                default:
                    preconditionFailure(
                        "bestContentType chose an invalid content type."
                    )
                }
                return Operations.MediaAssetResolve.Input(
                    headers: headers,
                    body: body
                )
            },
            serializer: { output, request in
                switch output {
                case .ok(let value):
                    suppressUnusedWarning(value)
                    var response = HTTPTypes.HTTPResponse(soar_statusCode: 200)
                    suppressMutabilityWarning(&response)
                    let body: OpenAPIRuntime.HTTPBody
                    switch value.body {
                    case .json(let value):
                        try converter.validateAcceptIfPresent(
                            "application/json",
                            in: request.headerFields
                        )
                        body = try converter.setResponseBodyAsJSON(
                            value,
                            headerFields: &response.headerFields,
                            contentType: "application/json; charset=utf-8"
                        )
                    }
                    return (response, body)
                case .undocumented(let statusCode, _):
                    return (.init(soar_statusCode: statusCode), nil)
                }
            }
        )
    }
}
