#extend("Frontend/Index"):
    #export("body"):

    <section>
        <h1>#systemVariable("authors.page.title")</h1>
        <p>#systemVariable("authors.page.description")</p>
    </section>

    <section id="authors">
        <ul>
            #for(item in body.list):
            <li>
                <img class="rounded" src="#resolve(item.author.imageKey)">
                <h3><a href="/#(item.content.slug)">#(item.author.name)</a></h3>
                <p>#(item.author.bio)</p>
            </li>
            #endfor
        </ul>
    </section>

    #endexport
#endextend
