#let(head = [
    "title": category.title,
    "description": category.excerpt
])
#define(body):
<br><br>

<section id="category">
    <img src="#(category.imageKey.resolve())">
    <h2>#(category.title)</h2>
    <p>#(category.excerpt)</p>
    <span><b>#(posts.count()) post#if(posts.count() > 1):s#endif</b></span>
</section>

<br><br>

<section  class="grid">
    #for(post in posts):
    <div>
        <a href="/#(post.metadata.slug)" class="card">
            <figure style="background-image: url(#(post.imageKey.resolve()));"></figure>
            <article>
                <div class="meta">
                    <span class="category">#(category.title)</span>
                </div>
                <h3>#(post.title)</h3>
                <p>#(post.excerpt)</p>
                <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                    #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                </time>
            </article>
        </a>
    </div>
    #endfor
</section>
#enddefine
#inline("Frontend/Index")
