#extend("Frontend/Index"):
    #export("body"):
        <section class="home">
            <h1>#systemVariable("home.page.title")</h1>
            <p>#systemVariable("home.page.description")</p>
        </section>

        <section id="home" class="grid home">
            #for(item in body.list):
            <div #if(isFirst): class="first" #endif>
                <a href="#(item.content.slug)" class="card">
                    <figure style="background-image: url(#resolve(item.post.imageKey));"></figure>
                    <article>
                        <div class="meta">
                            <span class="category">#(item.category.title)</span>
                        </div>
                        <h3>#(item.post.title)</h3>
                        <p>#(item.post.excerpt)</p>
                        <time datetime="#dateFormatter(item.content.date, "y/MM/dd")">#dateFormatter(item.content.date, "y/MM/dd")</time>
                    </article>
                </a>
            </div>
            #endfor
        </section>
    #endexport
#endextend
