#let(head = [
    "title": $vars["posts.page.title"],
    "description": $vars["posts.page.description"]
])
#define(body):
<div id="posts">
    <div>
        <h1>#(head.title)</h1>
        <p>#(head.description)</p>
    </div>

    <form id="search-form" action="#($req.url.path)" method="get">
        #if(Request(query: "limit") != nil):
        <input type="hidden" id="limit" name="limit" value="#Request(query: "limit")">
        #endif
        <input type="text" id="search" name="search" placeholder="Search..." value="#Request(query: "search")">
    </form>

    
    <div class="grid posts">
        #for(post in list.items):
        <div>
            <a href="/#(post.metadata.slug)" class="card">
                <figure style="background-image: url(#(post.imageKey.resolve()));"></figure>
                <article>
                    <div class="meta">
                        <span class="category">#(post.category.title)</span>
                    </div>
                    <h3>#(post.title)</h3>
                    <p>#(post.excerpt)</p>
                    <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                        #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                    </time>
                </article>
            </a>
        </div>
        #endfor
    </div>

    #if(list.items.isEmpty()):
    <div class="empty">
        <span>😬</span>
        <h3>No results.</h3>
        <p>Maybe you should <a href="#($req.url.path)">start over</a> the process.</p>
    </div>
    #endif

    <div class="pager">
    #inline("Frontend/Pagination")
    </div>
</div>
<script>

function debounce(func, wait, immediate) {
var timeout;
return function() {
    var context = this, args = arguments;
    var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
    };
    var callNow = immediate && !timeout;
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
    if (callNow) func.apply(context, args);
};
};

const source = document.getElementById('search');
const inputHandler = debounce(function(e) {
console.warn(e.target.value);
return;
var xmlHttp = new XMLHttpRequest();
xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState != 4 || xmlHttp.status != 200) {
        return
    }
    console.warn(xmlHttp.responseText)
    var element = document.getElementById(id)
    var tr = element.parentElement.parentElement
    tr.parentNode.removeChild(tr)
}
xmlHttp.open("POST", path + id + "/delete", true);
xmlHttp.send(null);
}, 250);

source.addEventListener('input', inputHandler);
source.addEventListener('propertychange', inputHandler);
// source.addEventListener('change', inputHandler);
</script>
#enddefine
#inline("Frontend/Index")
