#let(head = [
    "title": post.title,
    "description": post.excerpt
])
#define(body):
<article>
    <header>
        <section>
            <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
            </time>
            <h1 class="title">#(post.title)</h1>
            <p class="excerpt">#(post.excerpt)</p>
            <div class="meta">
                <span class="category">#(post.category.title)</span>
            </div>
        </section>
        <figure id="cover-image" style="background-image: url(#(post.imageKey.resolve()));"></figure>
    </header>

    #(post.content)

</article>

<section id="share">
    <p>Thanks for reading, if you liked this article please <a href="https://twitter.com/intent/tweet?via=tiborbodecs&hashtags=SwiftLang&url=#($app.baseUrl)#($req.url.path)" target="_blank">share it on Twitter</a>. 🙏</p>
</section>

<section class="author-box">
    <img class="rounded" src="#(post.author.imageKey.resolve())" alt="Picture of #(post.author.name)" title="#(post.author.name)">
        <h3>#(post.author.name)</h3>
        <p>#(post.author.bio)</p>
        #for(link in post.author.links):
        <a href="#(link.url)" target="_blank">#(link.name)</a> #if(!isLast): &middot; #endif
        #endfor
    </p>
</section>
#enddefine
#inline("Frontend/Index")

