{{& page.contents.html}}

<div id="posts" class="wrapper">

    <div class="grid grid-321">
    {{#iterator.items}}
        {{> partials/blog/post}}
    {{/iterator.items}}
    </div>
    {{^iterator.items}}
    <p>Empty.</p>
    {{/iterator.items}}
</div>
