#let(head = [
    "title": $vars["authors.page.title"],
    "description": $vars["authors.page.description"]
])
#define(body):
<section>
    <h1>#(head.title)</h1>
    <p>#(head.description)</p>
</section>

<section id="authors">
    <ul>
        #for(author in authors):
        <li>
            <img class="rounded" src="#(author.imageKey.resolve())">
            <h3><a href="/#(author.metadata.slug)">#(author.name)</a></h3>
            <p>#(author.bio)</p>
        </li>
        #endfor
    </ul>
</section>
#enddefine
#inline("Frontend/Index")
