#let(head = [
    "title": $vars["categories.page.title"],
    "description": $vars["categories.page.description"]
])
#define(body):
<div id="categories" class="wrapper w-full m:xl">
    <header class="m:b:l center">
        <h1>#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <section class="m:l">
        <ul class="lst:none p:zero">
            #for(category in categories):
            <li class="p:l br center bg3">
                <img class="w128 br" src="#(category.imageKey.resolve())">
                <h3><a href="/#(category.metadata.slug)">#(category.title)</a></h3>
                <p>#(category.excerpt)</p>
            </li>
            #endfor
        </ul>
    </section>

</div>
#enddefine
#inline("Frontend/Index")

