#let(head = [
    "title": $vars["home.page.title"],
    "description": $vars["home.page.description"],
    "css": metadata.css,
    "js": metadata.js

])
#define(css):
@media (min-width: 600px) {
    #home > div {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 900px) {
    #home > div {
        grid-template-columns: repeat(6, 1fr);
    }
}
#enddefine
#define(body):
<div id="home" class="wrapper w:full m:xl">

    <header class="m:bottom:l center">
        <h1>#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <div class="g6 g:gap:l:hd">
    #for((index, post) in posts):
        #var(size = 1)
        #if(index == 0):
            #var(size = 4)
        #endif
        #if(index == 1):
            #var(size = 2)
        #endif
        #if(index > 1):
            #var(size = 2)
        #endif
        
        #inline("Blog/Frontend/SinglePost")
    #endfor
    </div>

</div>
#enddefine
#inline("Frontend/Index")

