#let(head = [
    "title": $vars["home.page.title"],
    "description": $vars["home.page.description"]
])
#define(body):
<div id="home" class="wrapper w:full m:l">

    <header class="m:b:l center">
        <h1>#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <div class="g12 g:gap:xl">
    #for((index, post) in posts):
        #var(size = 3)
        #if(index == 0): #var(size = 7) #endif
        #if(index == 1): #var(size = 5) #endif
        <div class="cell g:col#(size)">
            <a href="/#(post.metadata.slug)">
                <div class="container">
                    <img class="block br:xs" src="#(post.imageKey.resolve())">
                    <div class="overlay br:xs"><h2>#(post.title)</h2></div>
                </div>
                <p>
                    <span class="underline">#(post.category.title)</span>
                    &middot;
                    <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                        #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                    </time>
                </p>
                <h3>#(post.title)</h3>
                <p>#(post.excerpt)</p>
            </a>
        </div>
        
        <div class="cell g:col5">
            <a href="/#(post.metadata.slug)">
                <div class="container">
                    <img class="block br:xs" src="#(post.imageKey.resolve())">
                    <div class="overlay br:xs"><h2>#(post.title)</h2></div>
                </div>
                <p>
                    <span class="underline">#(post.category.title)</span>
                    &middot;
                    <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                        #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                    </time>
                </p>
                <h3>#(post.title)</h3>
                <p>#(post.excerpt)</p>
            </a>
        </div>
        
        <div class="cell g:col4">
            <a href="/#(post.metadata.slug)">
                <div class="container">
                    <img class="block br:xs" src="#(post.imageKey.resolve())">
                    <div class="overlay br:xs"><h2>#(post.title)</h2></div>
                </div>
                <p>
                    <span class="underline">#(post.category.title)</span>
                    &middot;
                    <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                        #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                    </time>
                </p>
                <h3>#(post.title)</h3>
                <p>#(post.excerpt)</p>
            </a>
        </div>
        <div class="cell g:col4">
            <a href="/#(post.metadata.slug)">
                <div class="container">
                    <img class="block br:xs" src="#(post.imageKey.resolve())">
                    <div class="overlay br:xs"><h2>#(post.title)</h2></div>
                </div>
                <p>
                    <span class="underline">#(post.category.title)</span>
                    &middot;
                    <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                        #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                    </time>
                </p>
                <h3>#(post.title)</h3>
                <p>#(post.excerpt)</p>
            </a>
        </div>
        <div class="cell g:col4">
            <a href="/#(post.metadata.slug)">
                <div class="container">
                    <img class="block br:xs" src="#(post.imageKey.resolve())">
                    <div class="overlay br:xs"><h2>#(post.title)</h2></div>
                </div>
                <p>
                    <span class="underline">#(post.category.title)</span>
                    &middot;
                    <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                        #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                    </time>
                </p>
                <h3>#(post.title)</h3>
                <p>#(post.excerpt)</p>
            </a>
        </div>
        
        
        
    #endfor
    </div>

</div>
#enddefine
#inline("Frontend/Index")
