<div class="post-cell g:col#(size ?? 1)">
    <a href="/#(post.metadata.slug)">
        <div class="container br:xs">
            <img class="block" src="#(post.imageKey.resolve())">
            <div class="overlay"><span class="h2">Read now</span></div>
        </div>
        <div>
            <p>
                <span class="underline">#(post.category.title ?? category.title ?? "")</span>
                    &middot;
                <time datetime="#Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")">
                #Date(timeStamp: post.metadata.date, localizedFormat: "y/MM/dd")
                </time>
            </p>
            <h2 class="m:zero m:bottom:xs">#(post.title)</h2>
            <p class="m:zero">#(post.excerpt)</p>
        </div>
    </a>
</div>
