# Example:
# swift run Server --env-file-path ./configs/server.example.env

LOGGER_LEVEL=info
LOGGER_LABEL=server

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_ROOT_CA_PATH=./docker/certs/ca.pem

SERVER_HTTP_HOST=127.0.0.1
SERVER_HTTP_PORT=8080

SERVER_NAME=backend
