# Example:
# swift run Migrator --env-file-path ./configs/migrator.example.env

LOGGER_LEVEL=info
LOGGER_LABEL=migrator

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_ROOT_CA_PATH=./docker/certs/ca.pem

MIGRATOR_RESET=false
