# Example:
# swift run Worker --env-file-path ./configs/worker.example.env

LOGGER_LEVEL=info
LOGGER_LABEL=worker

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_ROOT_CA_PATH=./docker/certs/ca.pem

WORKER_QUEUE_NAME=worker
WORKER_POLL_TIME_MS=100
WORKER_NUM_WORKERS=16
WORKER_GRACEFUL_SHUTDOWN_TIMEOUT_SECONDS=10
WORKER_RUN_MIGRATIONS=true

WORKER_SCHEDULER_NAME=worker
WORKER_CLEANUP_COMPLETED_MAX_AGE_SECONDS=86400
WORKER_CLEANUP_HOURLY_MINUTE=52
WORKER_CLEANUP_PROCESSING_INTERVAL_MINUTES=5
WORKER_CLEANUP_PROCESSING_MAX_JOBS=100
WORKER_SCHEDULER_LOCK_EVERY_SECONDS=300
WORKER_SCHEDULER_LOCK_FOR_SECONDS=360
